version: "3.9"

services:
  db:
    image: postgres:15
    container_name: prprojectgo-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prdb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10



  migrate:
    image: migrate/migrate:4
    container_name: prprojectgo-migrate
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command: [
      "-path", "/migrations",
      "-database", "postgres://postgres:postgres@db:5432/prdb?sslmode=disable",
      "up"
    ]
    restart: "on-failure"

  app:
    container_name: prprojectgo-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/prdb?sslmode=disable
    ports:
      - 8080:8080
    depends_on:
      migrate:
        condition: service_completed_successfully

volumes:
  db-data:
